# Ignore everything by default.
*

# Explicitly define directories and files to pass into docker.
!/stock_backend
!/.python-version
!/db
!/docker
!/alembic.ini
!/LICENSE
!/makefile
!/pyproject.toml
!/README.md
!/setup.*
!/requirements*
